@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-main: #3d3b40;
  --bg-sec: #525ceb;
  --acc-clr: #bfcfe7;
  --txt-white: #f8edff;
  --txt-dark: #1d2c38;

  /* Shadows */
  --shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.1);

  /* fonts  */

  --font-main: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body.dark_mode {
  /* Dark Theme */
  --bg-main-dark: #1d2c38;
  --bg-sec-dark: #2a2a2a;
  --acc-clr-dark: #454545;
  --txt-white-dark: #ffffff;
  --txt-dark-dark: #aaaaaa;

  /* shadows  */

  --shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* desktopcontainer utility class: */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
